h1 {
    font-family: cursive, Arial;
    text-align: center;
    margin-top: 10px;
    font-size: 2.5em;
}

h2 {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    text-align: center;
    line-height: 0%;
}

#blason {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

#choixpeau {
    display: block;
    margin: auto;
    height: 150px;
}

#bigButton {
    font-family: cursive, Arial;
    background-color: rgb(37, 103, 245);
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 1em;
    display: block;
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#previousButton {
    position: fixed;
    bottom: 2%;
    left: 2%;
}

#settingsImage {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 50px;
}

#arrow {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 100px;
}

#kSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

ul {
    display: block;
    margin-left: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}